wheel==0.34.2
pylint==2.4.4
coloredlogs==14.0
Flask==1.1.2
Flask-WTF==0.14.3
Flask-Login==0.5.0
Flask-SocketIO==4.3.1
Flask-RESTful==0.3.8
Flask-Cors==3.0.8 
flask-mongoengine==0.9.5
PyJWT==1.7.1
email_validator==1.1.1
Pillow==7.2.0
qrcode==6.1
gevent==20.6.2
gevent-websocket==0.10.1
python-dotenv==0.14.0 
#eventlet==0.26.1
#gunicorn==20.0.4
#Flask-Mail==0.9.1
#opencv-python==4.3.0.36
#opencv-contrib-python==4.3.0.36